@model MainSite.Models.PostContent
@{
    ViewBag.Title = "منشور جديد";
}

<script type="text/javascript">

    function SelectedIndexChanged(ddl) {
        //document.PostForm.submit();
        document.getElementById('divText').style.display = "none";
        document.getElementById('divImage').style.display = "none";
        document.getElementById('divYouTubeLink').style.display = "none";
        document.getElementById('divWebLink').style.display = "none";
        document.getElementById('divFile').style.display = "none";
        switch (ddl.selectedIndex) {
            case 0:

                break;
            case 1:
                document.getElementById('divText').style.display = "block";
                break;
            case 2:
                document.getElementById('divImage').style.display = "block";
                break;
            case 3:
                document.getElementById('divYouTubeLink').style.display = "block";
                break;
            case 4:
                document.getElementById('divWebLink').style.display = "block";
                break;
            case 5:
                document.getElementById('divFile').style.display = "block";
                break;
            default:
        }
    }
</script>
@using (Html.BeginForm("AddPost", "Projects", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <h4>منشور جديد</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.ValueFor(model => model.ErrorMsg)
        @Html.HiddenFor(model => model.Post.ID)
        @Html.HiddenFor(model => model.Project.ID)
        @Html.HiddenFor(model => model.Project.Name)
        <div class="ProjectDiv">
            <table class="BlueTable">
                <tr>
                    <td>
                        اسم المشروع
                    </td>
                    <td>
                        @Html.ValueFor(model => model.Project.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        نوع المنشور
                    </td>
                    <td>
                        @Html.EnumDropDownListFor(model => model.Post.PostType, htmlAttributes: new { @class = "form-control", onchange = "SelectedIndexChanged(this)" })
                        @Html.ValidationMessageFor(model => model.Post.PostType, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">

                        @*Text Post*@
                        <div class="ProjectDiv" style="display:none" id="divText">
                            <table class="BlueTable">
                                <tr>
                                    <td>
                                        النص
                                    </td>
                                    <td>
                                        @Html.TextAreaFor(model => model.Post.Text, new { @class = "MultiLineTextArea" })
                                        @Html.ValidationMessageFor(model => model.Post.Text, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                            </table>
                        </div>

                        @*Image Post*@
                        <div class="ProjectDiv" style="display:none" id="divImage">
                            <table class="BlueTable">
                                <tr>
                                    <td>
                                        رفع صورة
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.ImageUpload, new { type = "file" })
                                    </td>
                                </tr>
                            </table>
                        </div>

                        @*YouTubeLink Post*@
                        <div class="ProjectDiv" style="display:none" id="divYouTubeLink">
                            <table class="BlueTable">
                                <tr>
                                    <td>
                                        رابط الفيديو التضميني الرجاء اتباع الخطوات التالية
                                        <br />
                                        افتح رابط الفيديو في موقع YouTuble
                                        <br />
                                        اضغط على الفيديو الزر الايمن ثم اختر
                                        <br />
                                        Copy embed Code
                                        <br />
                                        ثم الصق الرابط في الحقل التالي
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.YouTubeLink, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.YouTubeLink, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                            </table>
                        </div>

                        @*WebLink Post*@
                        <div class="ProjectDiv" style="display:none" id="divWebLink">
                            <table class="BlueTable">
                                <tr>
                                    <td>
                                        الرابط
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.WebLink, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.WebLink, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                            </table>
                        </div>

                        @*Image Post*@
                        <div class="ProjectDiv" style="display:none" id="divFile">
                            <table class="BlueTable">
                                <tr>
                                    <td>
                                        رفع ملف
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.FileUpload, new { type = "file" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        معلومات اضافية
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.Post.MoreInfo, new { @class = "MultiLineTextArea" })
                        @Html.ValidationMessageFor(model => model.Post.MoreInfo, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <input type="submit" value="حفظ المنشور" class="btn btn-default" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
}

<div>
    @Html.ActionLink("رجوع", "ShowProject", "Projects", new { id = Model.Project?.ID }, new { @class = "myButtonGray" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




