@model MainSite.Models.ShowProjectContent
@{
    ViewBag.Title = Model.Project.Name;
}

<h2>@Model.Project.Name</h2>

@using (Html.BeginForm())
{
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.ValueFor(model => model.ErrorMsg)
    @Html.HiddenFor(x => x.Project.ID);

    @Html.ActionLink("رجوع الى قائمة المشاريع", "ProjectList", "Projects", null, new { @class = "myButtonGray" })
    @Html.ActionLink("رجوع الى قائمة مشاريعي", "MyProjects", "Projects", null, new { @class = "myButtonGray" })
    if (((List<string>)Session["MyClearance"]).Contains("AddPost"))
    {
        @Html.ActionLink("اضافة منشور", "AddPost", "Projects", new { id = Model.Project.ID }, new { @class = "myButtonGray" })
    }
    <div class="ProjectDiv">
        <table class="BlueTable">
            <tr>
                <td class="SkyTD">
                    اسم المشروع
                </td>
                <td>
                    @Html.EditorFor(model => model.Project.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Project.Name, "", new { @class = "text-danger" })
                </td>
                <td rowspan="7">
                    <table class="BlueTable">
                        <tr>
                            <td class="SkyTD" colspan="4">
                                قائمة المستخدمين ذو الصلة بهذا المشروع
                            </td>
                        </tr>
                        @foreach (var user in Model.Links)
                        {
                            <tr>
                                <td class="SkyTD">
                                    الاسم
                                </td>
                                <td>
                                    @Html.ValueFor(model => user.User.Name)
                                </td>
                                <td class="SkyTD">
                                    نوع الصلة
                                </td>
                                <td>
                                    @Html.ValueFor(model => user.LinkType)
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
            <tr>
                <td class="SkyTD">
                    مختصر عن المشروع
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Project.Description, new { @class = "MultiLineTextArea" })
                    @Html.ValidationMessageFor(model => model.Project.Description, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td class="SkyTD">
                    السنة الدراسية
                </td>
                <td>
                    @Html.DropDownListFor(model => model.YearID, new SelectList(Model.Years, "ID", ""), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Project.Year, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td class="SkyTD">
                    نسبة الانجاز
                </td>
                <td>
                    @Html.EditorFor(model => model.Project.ProgressPercentage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Project.ProgressPercentage, "", new { @class = "text-danger" })
                    %
                </td>
            </tr>
            <tr>
                <td class="SkyTD">
                    حالة المشروع
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => model.Project.ProjectStatus, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Project.ProjectStatus, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td class="SkyTD">
                    حالة القيد
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => model.Project.Status, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Project.Status, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="حفظ التعديلات" class="btn btn-default" />
                </td>
            </tr>
        </table>
    </div>
    <div class="ProjectDiv">
        @foreach (var pst in Model.Posts)
        {
            <div class="ProjectDiv">
                <table class="BlueTable">
                    <tr>
                        <td colspan="6" class="SkyTD">
                            @switch (pst.PostType)
                            {
                                case Entity.MyData.PostTypesEnum.Text:
                                    @Html.ValueFor(model => pst.Text)
                                    break;
                                case Entity.MyData.PostTypesEnum.Image:
                                    <img src="@Url.Content(Model.UploadPath+pst.Text)" alt="IMAGES" width="400" height="300" />
                                    break;
                                case Entity.MyData.PostTypesEnum.YouTubeLink:
                                    @(new HtmlString(@pst.Text))
                                    break;
                                case Entity.MyData.PostTypesEnum.WebLink:
                                    <a href="@pst.Text" target="_blank">Link</a>
                                    break;
                                case Entity.MyData.PostTypesEnum.File:
                                    <a href="@Url.Content(Model.UploadPath+pst.Text)">Download</a>
                                    break;
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="SkyTD">
                            معلومات اضافية
                        </td>
                        <td colspan="5">
                            @Html.ValueFor(model => pst.MoreInfo)
                        </td>
                    </tr>
                    <tr>
                        <td class="SkyTD">
                            نشر بواسطة
                        </td>
                        <td>
                            @Html.ValueFor(model => pst.PostedBy.Name)
                        </td>
                        <td class="SkyTD">
                            تاريخ النشر
                        </td>
                        <td>
                            @Html.ValueFor(model => pst.CreationDate)
                        </td>
                        <td class="SkyTD">
                            تاريخ اخر تعديل
                        </td>
                        <td>
                            @Html.ValueFor(model => pst.LastUpdateTime)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="SkyTD">
                            @if (Model.CurrentUser.ID == pst.PostedBy.ID)
                            {
                                if (((List<string>)Session["MyClearance"]).Contains("EditPost"))
                                {
                                    @Html.ActionLink("تعديل", "EditPost", "Projects", new { id = pst.ID }, new { @class = "myButtonGray" })
                                }
                                if (((List<string>)Session["MyClearance"]).Contains("DeletePost"))
                                {
                                    @Html.ActionLink("حذف", "DeletePost", "Projects", new { id = pst.ID }, new { @class = "myButtonGray", onclick = "return confirm('Are you sure you wish to delete this article?');" })
                                }
                            }
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
    <br />
    @Html.ActionLink("رجوع الى قائمة المشاريع", "ProjectList", "Projects", null, new { @class = "myButtonGray" })
    @Html.ActionLink("رجوع الى قائمة مشاريعي", "MyProjects", "Projects", null, new { @class = "myButtonGray" })
    if (((List<string>)Session["MyClearance"]).Contains("AddPost"))
    {
        @Html.ActionLink("اضافة منشور", "AddPost", "Projects", new { id = Model.Project.ID }, new { @class = "myButtonGray" })
    }
}

