@model MainSite.Models.LinkUserToGroupContent
@{
    ViewBag.Title = "Link user to group";
}

<h2>Link user to group</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Link user to group</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.User.ID)

        <table class="BlueTable">
            <tr>
                <td>
                    User Name
                </td>
                <td>
                    @Html.EditorFor(model => model.User.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.User.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    Group
                </td>
                <td>
                    @Html.DropDownListFor(model => model.GroupID, new SelectList(Model.Groups, "ID", ""), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.User.ClearanceGroup, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("رجوع للقائمة", "Index", null, new { @class = "myButtonGray" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
