<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - برنامج ادارة وارشفة مشاريع الطلبة</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/MainCss.css?v=20")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="header">
        <table>
            <tr>
                <td width="80%">
                    <img src="~/Images/project.png" width="100" />
                    &nbsp;
                    <span style="font-size:xx-large">
                        برنامج ادارة وارشفة مشاريع الطلبة
                    </span>
                </td>
                <td width="20%">
                    @if (!string.IsNullOrEmpty(ViewBag.LoggeedUserName))
                    {
                    <div>
                        <label>تم تسجيل الدخول بواسطة :</label>
                        @ViewBag.LoggeedUserName
                        <br />
                        <label>احد اعضاء مجموعة :</label>
                        @ViewBag.LoggeedUserNameGroup
                        <br />
                        @Html.ActionLink("تسجيل خروج", "Logout", "Login", null, new { @class = "myButtonGray" })
                    </div>
                    }
                </td>
            </tr>
        </table>
    </div>
    <ul class="topnav">
        <li>@Html.ActionLink("الرئيسية", "Index", "Home")</li>
        <li>@Html.ActionLink("حول البرنامج", "About", "Home")</li>
        <li>@Html.ActionLink("معلومات الاتصال", "Contact", "Home")</li>
    </ul>

    <div class="bodyContents">
        @RenderBody()
        <hr />
        <br />
        <div class="footer">
            <p>بواسطة تبارك حسين رباط - باشراف م.عقيل كامل كاظم &copy; @DateTime.Now.Year  &nbsp;</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
