@{
    ViewBag.Title = "الصفحة الرئيسية";
}

<h2>الرئيسية</h2>
@if (Session["User"] != null)
{
    if (((List<string>)Session["MyClearance"]).Contains("Clearances"))
    {
        @Html.ActionLink("قائمة الصلاحيات", "index", "Clearances", null, new { @class = "myButtonGray" })
    }
    if (((List<string>)Session["MyClearance"]).Contains("SystemUserGroups"))
    {
        @Html.ActionLink("المجموعات", "index", "SystemUserGroups", null, new { @class = "myButtonGray" })
    }
    if (((List<string>)Session["MyClearance"]).Contains("SystemUsers"))
    {
        @Html.ActionLink("المستخدمين", "index", "SystemUsers", null, new { @class = "myButtonGray" })
    }
    if (((List<string>)Session["MyClearance"]).Contains("StudyYears"))
    {
        @Html.ActionLink("سنين الدراسة", "index", "StudyYears", null, new { @class = "myButtonGray" })
    }

    if (((List<string>)Session["MyClearance"]).Contains("ProposeProject"))
    {
        @Html.ActionLink("اقتراح مشروع", "create", "ProposeProject", null, new { @class = "myButtonGray" })
    }
    if (((List<string>)Session["MyClearance"]).Contains("ProjectList"))
    {
        @Html.ActionLink("قائمة المشاريع", "ProjectList", "Projects", null, new { @class = "myButtonGray" })
    }
    if (((List<string>)Session["MyClearance"]).Contains("MyProjects"))
    {
        @Html.ActionLink("قائمة مشاريعي", "MyProjects", "Projects", null, new { @class = "myButtonGray" })
    }
    
}
else
{
    @Html.ActionLink("تسجيل دخول", "Login", "Login", null, new { @class = "myButtonGray" })
}